.column_side, .column_main {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #E6EAED;
}

.column_side_head, .column_main_head {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.column_side_title {
  height: 40px;

  color: #666;
  line-height: 40px;
}

.column_main_title {
  height: 40px;

  color: #444;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
}

.item_investor {
  overflow: hidden;
  display: block;

  margin: 20px 14px;
  padding: 5px;

  color: #333;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.item_investor:hover {
  background-color: #f0f0f0;
}

.investor_head {
  height: 25px;
  padding: 2px 5px;

  line-height: 25px;

  border-bottom: 1px solid #ccc;
}

.investor_name {
  font-size: 18px;
  font-weight: 900;
}

.investor_update {
  float: right;
}

.investor_content {
  padding: 5px 5px;
}

.investor_mscore {
  float: left;

  width: 90px;
  height: 80px;
  padding: 5px 0px;

  background-color: #51aded;

  text-align: center;
}

.investor_tscore {
  font-size: 40px;
  line-height: 60px;
}

.investor_np {
}

.investor_detail {
  float: right;
}

.investor_detail li {
  line-height: 22px;
}

.hotnews_item {
  overflow: hidden;
  padding: 15px 12px;
  border-bottom: 1px solid #E6EAED;
}

.hotnews_item:last-child {
  border-bottom: 0px;
}

.hotnews_img {
  float: left;
}

.hotnews_img img {
  display: block;
}

.hotnews_title {
  float: left;
  padding-left: 8px;
  width: 185px;
}

#leftbar .hotnews_title {
  width: 156px;
}

.hotnews_title a {
  color: #38485A;
}

.hotnews_title a:hover {
  color: #0070cc;
}

.topic_item {
  overflow: hidden;
  display: block;

  margin: 20px 12px;
  padding: 5px;

  color: #333;
  border-radius: 2px;
  border: 1px solid #faebcc;
  background-color: #fcf8e3;
}

.topic_item:hover {
  color: #8a6d3b;
}

.hottopic .topic_item {
  border-color: #ebccd1;
  background-color: #FFEDED;
}

.hottopic .topic_item:hover {
  color: #a94442;
}

.investment .topic_item {
  border-color: #bce8f1;
  background-color: #d9edf7;
}

.investment .topic_item:hover {
  color: #31708f;
}

.topic_title {
  padding-top: 3px;
  padding-bottom: 0.4em;
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 900;
  border-bottom: 1px solid #faebcc;
}

.hottopic .topic_title {
  border-bottom-color: #ebccd1;
}

.investment .topic_title {
  border-bottom-color: #bce8f1;
}

.topic_info {
  margin-top: 0.5em;
  text-align: right;
  color: #0070cc;
}

.news_item, .opinions_item {
  overflow: hidden;
  padding: 16px 12px;
  border-bottom: 1px solid #E6EAED;
}

.news_item:last-child, .opinions_item:last-child {
  border: 0;
}

.news_left, .opinions_left {
  float: left;
  position: relative;
}

.news_item img, .opinions_item img {
  display: block;
}

.news_forward, .opinions_forward {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  padding: 6px 10px;
  color: #fff;
  background-color: #F7464F;
}

.icon_forward {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  line-height: 14px;
}

.news_right, .opinions_right {
  float: left;
  position: relative;
  padding-left: 18px;
  width: 346px;
  min-height: 110px;
}

.opinions_right {
  width: 366px;
}

.news_title a, .opinions_title a {
  font-size: 18px;
  font-weight: 900;
  color: #243359;
}

.news_subtitle, .opinions_subtitle {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 16px;
  color: #bbb;
}

.opinions_subtitle {
  margin-bottom: 1em;
}

.news_info, .opinions_info {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  color: #0070cc;
}

.opinions_comments .comment_content {
  font-size: 16px;
}

.opinions_comments .comment_floor {
  margin-right: 10px;
}

.opinions_comments .comment_count {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 900;
}

.opinions_comments .comment_list {
  margin-left: 10px;
}

.opinions_comments .comment_list li {
  overflow: hidden;
  margin-top: 10px;
}

.project, .newsitem, .vc {
  margin: 16px 0px;
}

.project_article, .topicitem_article, .newsitem_article, .vcitem_article {
  margin: 20px;
}

.project_content p, .topicitem_content p, .newsitem_content p, .vcitem_content p {
  margin: 0.5em 0;
  font-size: 16px;
  text-indent: 2em;
  line-height: 1.5em;
  color: #666;
}

.project_content img, .topicitem_content img, .newsitem_content img, .vcitem_content img {
  max-width: 450px !important;
}

.project_item {
  padding: 20px;
  border-bottom: 1px solid #E6EAED;
}

.project_item:last-child {
  border: 0;
}

.project_description {
  margin-top: 16px;
}

.project_title a, .project_title, .project_show_title a, .topicitem_title, .newsitem_title, .vcitem_title, .search_title {
  font-size: 20px;
  font-weight: 900;
  color: #333;
  text-decoration: none;
}

.project_show_title a {
  font-size: 18px;
}

.project_title a:hover, .project_show_title a:hover, .search_title:hover {
  color: #0070cc;
}

.project_title, .project_show_title, .topicitem_title, .newsitem_title, .vcitem_title {
  margin: 16px 0;
}

.project_subtitle, .project_show_subtitle {
  overflow: hidden;
  font-size: 18px;
  color: #333;
}

.project_show_subtitle {
  font-size: 16px;
}

.topicitem_info, .newsitem_info {
  margin-top: 6px;
  text-align: right;
  color: #0070cc;
}

.project_like {
  color: #e2003e;
  font-size: 16px;
}

.project_info {
  float: left;
  margin-right: 10px;
  width: 200px;
  height: 78px;
  border-right: 1px solid #ccc;
}

.project_info li {
  float: left;
}

.project_name, .project_v {
  display: inline-block;
  width: 100px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  color: #999;
}

.project_v {
  color: #333;
}

.project_intro {
  float: left;
  height: 78px;
  width: 297px;
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
}

.project_show {
  margin: 20px 14px;
}

.project_show img {
  display: block;
}

.article_info {
  text-align: right;
  color: #0070cc;
}

.newproj_item {
  margin: 12px 12px;
}

.newproj_item a {
  color: #666;
  padding-left: 5px;
  border-left: 4px solid #51aded;
}

#post {
  margin-top: 50px;
}

.post_head {
  font-size: 16px;
  font-weight: 900;
  color: #999;
}

.comment_box {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

#comment .user {
  margin-top: 0px;
}

.comment_info {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 900;
}

.comment_count {
  font-size: inherit;
  margin-right: 0.5em;
  color: #999;
}

.comment_like {
  display: inline-block;
  font-size: inherit;
  width: 90px;
  color: #e2003e;
}

#comment textarea, #post textarea, .post_title_text {
  padding: 8px;
  width: 532px;
  height: 140px;
  background-color: #f3f3f3;
  color: #666;
  border-radius: 2px;
  border: 1px solid #ddd;
  border-top-color: #E6EAED;
  border-left-color: #E6EAED;
}

#comment textarea:focus, #post textarea:focus, .post_title_text:focus {
  border-color: #5FA4DD;
}

.post_title_text {
  margin: 20px 0;
  height: 24px;
  outline: none;
}

.comment_undertext, .post_undertext {
  overflow: hidden;
  margin: 30px 0;
}

#comment .user, #post .user {
  margin-top: 0px;
}

.comment_submit, .grade_submit, .post_submit {
  display: block;

  width: 100px;
  height: 32px;

  color: #fff;
  font-weight: 900;
  text-align: center;
  line-height: 32px;
  border-radius: 2px;
  background-color: #0070cc;
}

.comment_item {
  overflow: hidden;
  margin: 20px 0;
}

.comment_userphoto {
  float: left;
  width: 60px;
}

.comment_userphoto img {
  border-radius: 50%;
}

.comment_right {
  float: left;
  width: 490px;
}

.comment_username {
  margin-bottom: 8px;
  color: #999;
}

.username {
  color: #0070cc;
}

.comment_box .login, #post .login {
  margin: 0;
  margin-left: 10px;
}

.comment_content {
  margin-bottom: 8px;
  font-size: 18px;
}

.comment_floor {

}

.comment_floor a {
  color: #ccc;
}

.grade {
  margin-bottom: 30px;
}

.grade_title {
  float: left;
  padding-top: 30px;
  padding-left: 15px;
  width: 135px;
  font-size: 20px;
}

.stars {
  float: left;
  width: 270px;
}

.stars li {
  overflow: hidden;
  height: 24px;
  margin: 18px 0;
}

.star_label {
  float: left;
  width: 70px;
}

.stars_item {
  overflow: hidden;
  float: left;
  display: block;

  margin-top: 2px;
  margin-right: 15px;
  width: 150px;
  height: 18px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.stars_item label {
  float: left;
  display: block;
  width: 3px;
  height: 100%;
}

.stars_item input {
  display: none;
}

.star_bg {
  display: block;
  background-color: #006DE2;
  width: 0px;
  height: 100%;
}

.score_value {
  float: left;
  color: #006DE2;
  font-size: 18px;
}

.grade_submit {
  float: right;
  margin-top: 134px;
}

.icon_reply, .icon_like {
  float: left;
  display: block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.discuss_item {
  display: block;
  padding: 20px 12px;

  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #E6EAED;
}

.discuss_item:last-child {
  border: 0;
}

.discuss_title {
  font-size: 18px;
  font-weight: 900;
}

.discuss_content {
  margin: 10px 0;
}

.discuss_reply {
  color: #0070cc;
}

.discuss_like {
  color: #e2003e;
}

.discuss_date {
  float: right;
  color: #0070cc;
}

.vc_item {
  overflow: hidden;
  display: block;
  padding: 20px;

  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #E6EAED;
}

.vc_item:last-child {
  border: 0;
}

.vc_title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 900;
}

.vc_commentnum {
  float: right;
  color: #0070cc;
  line-height: 25px;
}

.vc_img {
  float: left;
}

.vc_score {
  float: left;
  margin: 0 8px;
  height: 140px;
  width: 220px;
}

.vc_score li {
  overflow: hidden;
  padding: 0 5px;
  height: 26px;
  border-top: 1px solid #ccc;
  line-height: 26px;
}

.vc_score li:first-child {
  border-top: 0px;
}

.vc_score .vctotal {
  height: 30px;
  line-height: 28px;
  font-weight: 900;
}

.vcscore {
  float: left;
  display: block;
  width: 36px;
  font-size: 16px;
  text-align: center;
  color: #0070cc;
}

.vctotal .vcscore {
  font-size: 20px;
  color: #e2003e;
}

.vctotal .vcbar_head {
  font-size: 16px;
}

.vctotal .vc_bar {
  background-color: #e2003e;
}

.vcbar_head {
  float: left;
  display: block;
  width: 70px;
}

.vc_bar {
  float: left;
  display: block;
  margin-top: 4px;
  width: 100px;
  height: 14px;

  border: 2px solid #666;
  background-color: #0070cc;
}

.vc_description {
  float: left;
  overflow: hidden;
  width: 232px;
  height: 140px;
}

.vcitem_condition {
  overflow: hidden;
  width: 380px;
  margin: 20px auto;
}

.red_title {
  color: #900;
  font-weight: 900;
}

.b_title {
  color: #444;
  font-weight: 900;
}
