body {
  padding-top: 136px;
  background-color: #f9f9f9;
}

#header {
  z-index: 16;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 12px;

  background-color: #333;
  box-shadow: 0 0px 5px #333;
}

#header .wrapper {
  width: 1150px;
}

.logo {
  float: left;

  width: 150px;
  height: 54px;

  background-image: url(../images/logo.png);
}

#nav {
  float: left;
  margin-top: 18px;
}

#nav li {
  float: left;
}

#nav > li > a {
  display: block;

  margin-left: 40px;
  height: 32px;

  line-height: 32px;
  text-align: center;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: 900;
}

.search {
  float: left;
  position: relative;
  margin-top: 18px;
  margin-left: 60px;
}

.search_input {
  padding: 6px 20px;
  width: 130px;
  height: 19px;

  line-height: 19px;
  color: #999;

  background-color: #fafafa;
  border-radius: 16px;
  border: 1px solid #ccc;
  outline: none;
}

.icon_search {
  display: block;
  position: absolute;
  right: 8px;
  top: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login {
  float: right;
  display: block;

  margin-top: 23px;
  margin-left: 20px;
  width: 60px;
  height: 25px;

  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-align: center;

  border-radius: 2px;
  background-color: #0070cc;
}

#header .login {
  color: #333;
  background-color: #fff;
}

#header .user_name {
  color: #f2f2f2;
}

.register {
  color: #0070cc;
}

#drop {
  position: relative;
}

#drop:hover .dropdown{
  display: block;
}

.dropdown:hover {
  display: block;
}

#drop > a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-left: 8px;

  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-top-color: #000;
}

#drop.active ul{
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 27px;

  padding: 8px 0;
  width: 124px;

  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px #808080;
}

.dropdown > li {
  width: 100%;
}

.dropdown > li > a {
  display: block;
  height: 30px;
  width: 100%;

  line-height: 30px;
  text-align: center;
  color: #000;
  font-weight: 900;
}

.user {
  display: block;
  margin-top: 17px;
  color: #333;
}

.user_photo {
  display: block;
  float: right;
  margin-right: 5px;
  border-radius: 50%;
}

.user_name {
  float: right;
  line-height: 36px;
}

@media screen and (max-width:1160px) {
  #header .wrapper {
    width: 980px;
  }

  .search {
    margin-left: 30px;
  }

  #nav > li > a {
    margin-left: 28px;
  }

}

.code_2d {
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

.code_2d img {
  display: block;
}

#footer {
  bottom: 0;
  padding: 40px 0;
  margin-top: 60px;
  background-color: #494949;
}

#footer .wrapper {
  width: 950px;
}

.column_footer {
  float: left;
  width: 33%;
}

#footer h3 {
  font-size: 16px;
  font-weight: 900;
  line-height: 2em;
  color: #fff;
}

#footer a, #footer p {
  color: #d0d0d0;
  line-height: 1.5em;
}

@media screen and (max-width: 839px) {
  #header {
    position: static;
    overflow: hidden;
    margin-bottom: 50px;
  }

  body {
    padding-top: 0;
  }

  #header .wrapper, #footer .wrapper {
    width: 550px;
  }

  #nav {
    margin-top: 26px;
  }

  #nav li:first-child {
    display: none;
  }

  .search {
    margin-left: 10px;
  }

  #header .login, #header .user {
    margin-right: 10px;
  }
}

.page {
  z-index: 10;
  height: 33px;
  width: 100%;
  text-align: center;
}

.page ul {
  display: inline-block;
  overflow: hidden;
}

.sidepage {
  width: 100%;
}

.sidepage .nextpage {
  float: right;
}

.page li {
  float: left;
  margin-right: 6px;
}

.page a {
  display: block;
  width: 30px;
  text-align: center;
  line-height: 33px;
  color: #0070cc;
}

.prevpage a, .nextpage a {
  display: block;
  width: 80px;
  height: 29px;

  text-align: center;
  line-height: 29px;
  color: #0070cc;

  border: 1px solid #0070cc;
  border-radius: 16px;
  background-color: #fff;
}

.page .prevpage {
  margin-right: 20px;
}

.nextpage {
  margin-left: 15px;
}

.page .disabled a {
  color: #666;
  border-color: #666;
  cursor: default;
}

.prevpage a:hover, .nextpage a:hover {
  color: #fff;
  background-color: #0070cc;
}

.page .disabled a:hover {
  color: #666;
  background-color: #fff;
}

.alert {
  margin: 20px 0;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid;
}

.alert_error {
  background-color: #F2DEDE;
  color: #A94442;
  border-color: #EBCCD1;
}

.alert_success {
  background-color: #DFF0D8;
  color: #3C763D;
  border-color: #D6E9C6;
}

.alert_info {
  background-color: #FCF8E3;
  color: #8A6D3B;
  border-color: #FAEBCC;
}

.close {
  float: right;
  padding: 0 3px;
  color: inherit;
  font-weight: 900;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#popbox {
  z-index: 17;
  position: fixed;
  top: 0;
  left: 0;
}

.popbox_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
}

.popbox_box {
  z-index: 17;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 30px;

  width: 400px;
  height: 460px;

  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
}

.login_box {
  height: 350px;
}

.box_head {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.login_title, .regist_title {
  padding-left: 12px;
  font-size: 20px;
  border-left: 8px solid #0070cc;
}

.regist_link, .login_link {
  font-size: 16px;
  color: #999;
}

.login_head, .regist_head {
  float: left;
  width: 90px;
  font-size: 16px;
  line-height: 48px;
}

.login_username, .login_password, .regist_email, .regist_username, .regist_password, .regist_rpassword {
  overflow: hidden;
  margin: 30px 0;
}

.login_username input, .login_password input, .regist_email input, .regist_username input, .regist_password input, .regist_rpassword input {
  float: left;
  padding: 12px;
  width: 286px;
  height: 24px;

  font-size: 16px;
  color: #999;

  background-color: #f2f2f2;
  border-radius: 2px;
  border: #ccc;
  outline: none;
}

.login_forgotpassword {
  margin: 15px 0;
  color: #333;
}

.login_forgotpassword:hover {
  color: #0070cc;
}

.login_remember {
  float: right;
  line-height: 40px;
}

.login_blank, .regist_blank {
  float: right;
  margin-left: 20px;
  width: 120px;
  height: 40px;

  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background-color: #0070cc;
  border-radius: 2px;
}

.authcode {
  float: left;
}

.authcode input {
  padding: 6px;
  width: 80px;
  height: 24px;
  color: #999;
  font-size: 16px;
  outline: none;
}
